<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Author page</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <script type="text/javascript" src="/static/app/author.controller.js" th:src="@{/app/author.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="AuthorController as vm">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Online library</a>
              
            </div>
             <a class="btn btn-danger navbar-right" style="margin-top: 8px; margin-right:7px" href="/">Log out</a>
             <p class="navbar-text navbar-right" style="margin-right: 10px;">Logged in as {{vm.loggedAuthor.name}}</p>
        </div>
    </nav>
</header>



<div class="profile_photo">
	<div class='product_grid_text'>
		<div class='product_grid_text_top'>
			<img th:src="@{/../images/owl.png}" height=210/>
			<br>

		</div>
	</div>
	<div class="card">
		<div class="profile_info">
			<label>{{vm.loggedAuthor.name}}</label>
		</div>
  		<div class="card-body">
    		<h5 class="card-title">Description</h5>
			    <h6 class="card-subtitle mb-2 text-muted">...</h6>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalPublishBook">Publish book</button>
				
  					<div class="infoButton">
				<button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalInfoAuthor">Edit info</button>
			</div>
  		</div>
	</div>
</div>

	
	<div class='product_grid' ng-repeat="book in vm.writtenBooks">
		<div class='product_grid_text'>
			<div class='product_grid_text_top'>

	            <td>{{book.title}}</td><br>
				<img ng:src="{{book.imagePath}}" alt="Not found" height=200 border=0/><br>
	            <td>{{book.genre}}</td><br>
	            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" ng-click="vm.getSelectedBook(book.id, book.title)">Reviews</button>
			</div>
		</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{vm.selectedBookTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
		  <div ng-repeat="review in vm.selectedBookReviews">
		    <h5>{{review.readerName}}</h5>
		    <p>{{review.details}}</p>
		    <hr>
		  </div>
	  </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalPublishBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{vm.selectedBookTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		  <div class="modal-body">
   			<form style="margin-left: 200px;">
   			<div class="form-group">
			    <label>Title</label>
			    <input type="text" class="form-control" placeholder="Title" ng-model="titleTxt" style="width:175px" >
			  </div>
			  <div class="form-group" >
			    <label>Genre</label>
			    <input type="text" class="form-control" placeholder="Genre" ng-model="genreTxt" style="width:175px">
			  </div>
			  </form>
			  
		<div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.publishBook(titleTxt, genreTxt)" data-dismiss="modal">Publish book</button>
      </div>
	  </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalInfoAuthor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
      </div>
	  <div class="modal-body">
   			<form style="margin-left: 200px;">
   			<div class="form-group">
			    <label>Name</label>
			    <input type="text" class="form-control" placeholder="Name" ng-model="nameTxt" style="width:175px" >
			  </div>
			  <div class="form-group" >
			    <label>Username</label>
			    <input type="text" class="form-control" placeholder="Username" ng-model="usernameTxt" style="width:175px">
			  </div>
			  <div class="form-group">
			    <label>Password</label>
			    <input type="password" class="form-control" placeholder="Password" ng-model="passwordTxt" style="width:175px" >
			  </div>
			  </form>
		  
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.editInfo(nameTxt, usernameTxt, passwordTxt)" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div class="container">
        <p class="text-muted"></p> 	
    </div>
</footer>
</body>
</html>