<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login page</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  
    
    <script type="text/javascript" src="/static/app/login.controller.js" th:src="@{/app/login.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="LoginController as vm">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Online library</a>
            </div>
            <p class="navbar-text navbar-right"  style="margin-right: 10px;">Please log in to continue</p>
        </div>
    </nav>
</header>

<div style="margin-left:450px">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
  
	        <form>
			  <div class="form-group" >
			    <label>Username</label>
			    <input type="text" class="form-control" placeholder="Username" ng-model="usernameTxt" style="width:175px">
			  </div>
			  <div class="form-group">
			    <label>Password</label>
			    <input type="password" class="form-control" placeholder="Password" ng-model="passwordTxt" style="width:175px" >
			  </div>
			 
			  <button type="submit" class="btn btn-primary" ng-click="vm.login(usernameTxt, passwordTxt)" style="margin-left:55px; margin-bottom:10px;">Log in</button>
			    <br>
			    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong" style="margin-left:20px; padding-left: 40px; padding-right: 40px;">Sign Up</button>
			</form>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
      </div>
	  <div class="modal-body">
   			<form style="margin-left: 200px;">
   			<div class="form-group">
			    <label>Name</label>
			    <input type="text" class="form-control" placeholder="Name" ng-model="nameTxt" required style="width:175px" >
		
			  </div>
			  <div class="form-group" >
			    <label>Username</label>
			    <input type="text" class="form-control" placeholder="Username" ng-model="usernameTxt" required style="width:175px">
			
			  </div>
			  <div class="form-group">
			    <label>Password</label>
			    <input type="password" class="form-control" placeholder="Password" ng-model="passwordTxt" required style="width:175px" >
			  </div>
			  <div class="form-group">
			    <label>AUTHOR or a READER?</label>
			    <input type="text" class="form-control" placeholder="..." ng-model="typeTxt" style="width:175px" >
			  </div>
			  </form>
		  
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.signUp(nameTxt, usernameTxt, passwordTxt, typeTxt)" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div class="container">
        <p class="text-muted">Page was rendered today.</p>
    </div>
</footer>
</body>
</html>