<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Test page</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/test.controller.js" th:src="@{/app/test.controller.js}"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
        
</head>
<body ng-app="app" ng-controller="TestController as vm">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Test application</a>
            </div>
            <p class="navbar-text navbar-right" style="margin-right: 10px;">Test frame</p>
        </div>
    </nav>
</header>

<p><iframe th:src="@{/../images/BOOK.txt}" frameborder="0" height="400" width="95%">. </iframe></p>
      
<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
        <table class="table">
       			<tr>
                	<td>
                     <button class="btn btn-danger" ng-click="vm.testSignUp()">SignUp</button>
                     <button class="btn btn-danger" ng-click="vm.testFindAllBooks()">Find All</button>
                 	 <button class="btn btn-danger" ng-click="vm.testPublishBook()">Publish Book</button>
                 	 <button class="btn btn-danger" ng-click="vm.testLog()">Test log</button>
                 	 <button class="btn btn-danger" ng-click="vm.testAddBookStatus()">Book status add</button>
                 	 <input type="text" placeholder="Send string" ng-model="stringTxt" style="width:175px">
                 	 <button class="btn btn-danger" ng-click="vm.testSearchBook(stringTxt)">Book search</button>
                 	 <button class="btn btn-danger" ng-click="vm.testCreateReview()">Create review</button>
                    </td>
                </tr>
        </table>       
        </div>
    </div>
</div>

<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div class="container">
        <p class="text-muted">Page was rendered today.</p>
    </div>
</footer>
</body>
</html>